<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
<ion-view view-title="Login" name="login-view" ng-controller="LoginController">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="Login(data)">Login</button>
  </ion-content>
</ion-view>
</body>
</html>
